{% extends 'pebMomWebSiteBundle::layout.html.twig' %}

{% set routing = 'default' %}

{% block content %}

    <div class="splash">
        {% include "pebMomWebSiteBundle:Default:splash.html.twig" %}
    </div>

    <div class="content">
        {% include "pebMomWebSiteBundle:Default:actualite.html.twig" %}
        {% include "pebMomWebSiteBundle:Default:actualite.html.twig" %}
        {% include "pebMomWebSiteBundle:Default:actualite.html.twig" %}
        {% include "pebMomWebSiteBundle:Default:actualite.html.twig" %}
        {% include "pebMomWebSiteBundle:Default:actualite.html.twig" %}
    </div>

{% endblock %}