{% extends 'pebMomWebSiteBundle::layout.html.twig' %}

{% set routing = 'default' %}

{% block content %}

    {% include "pebMomWebSiteBundle:Default:splash.html.twig" %}

    <div class="content">        

        {% for actualite in actualites %}
            {% include "pebMomWebSiteBundle:Actualite:preview.html.twig" %}
        {% else %}
            {% include "noactualite.html.twig" %}
        {% endfor %}
        {% include "pebMomWebSiteBundle:Default:linkactualites.html.twig" %}
    </div>

{% endblock %}