<div class="pure-g-r l-box link">
	<div class="pure-u-1">
        <a class="pure-button" href="{{ path('peb_momwebsite_actualite_actualite', {}) }}">
    Voir toutes les actualités
    	</a>
    </div>
</div>