<div class="splash">
    <div class="container">
        <div class="row">
            <div class="col-md-4 portrait">
                <!--
                    <img src="http://placehold.it/500x350" alt="Placeholder image for example.">
                 -->
                <img  src="{{path('peb_momwebsite_image_image', {id: description.image.id}) }}" alt="splash image">
            </div>
            <div class="col-md-8">
                <h2>
                    {{description.title}}
                </h2>

                <p>
                    {{description.text}}
                </p>
            </div>
        </div>
    </div>
</div>