{% extends 'pebMomWebSiteBundle::layout.html.twig' %}

{% set routing = 'galerie' %}

{% block content %}

<div class="jcarousel-wrapper">
	<div class="jcarousel">
	    <ul>
	        <li><img src="{{path('peb_momwebsite_image_image', {id: 22}) }}" width="600" height="400" alt=""></li>
	        <li><img src="{{path('peb_momwebsite_image_image', {id: 23}) }}" width="600" height="400" alt=""></li>
	        <li><img src="{{path('peb_momwebsite_image_image', {id: 23}) }}" width="600" height="400" alt=""></li>
	    </ul>
	</div>

	<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
    
    <p class="jcarousel-pagination">
        
    </p>

</div>

<script>
	$(function() {
    	$('.jcarousel').jcarousel({
    	    // Configuration goes here
    	});

    	$('.jcarousel-control-prev')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '-=1'
            });

        $('.jcarousel-control-next')
            .on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            })
            .on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            })
            .jcarouselControl({
                target: '+=1'
            });

        $('.jcarousel-pagination')
            .on('jcarouselpagination:active', 'a', function() {
                $(this).addClass('active');
            })
            .on('jcarouselpagination:inactive', 'a', function() {
                $(this).removeClass('active');
            })
            .jcarouselPagination();
	});
</script>

{% endblock %}