body {
  padding-top: 50px;
}

.footer {
    line-height: normal;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.splash,
.linkactualite,
.preview,
.actualite {
    padding: 20px 0;
}

.splash {   
    background: #7F8C8D;
}

.splash .portrait {
    text-align: center;
}

.splash .portrait img{
    width:300px;
    border-radius: 50px;
}

.preview {
    border-top: 1px solid #eee;
}

.actualite .date,
.preview .date {
    color: #999;
}

.preview .text {
    height: 60px;
    overflow: hidden;
}

.preview .text:after {
    content:"...";
}

.preview .link{
    text-align: center;
}

.linkactualite {
    text-align: center;
}



/*----------------------------------*/
/*              jcarousel           */
/*----------------------------------*/

.galerie {
    background: black;
    padding: 20px 0px;
}

.galerie .jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
}

/** Carousel **/

.galerie .jcarousel {
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

.galerie .jcarousel ul {
    width: 200000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.galerie .jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-prev,
.jcarousel-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-prev {
    left: 50px;
}

.jcarousel-next {
    right: 50px;
}

.jcarousel-prev:hover,
.jcarousel-next:hover {
    text-decoration: none;
}

.jcarousel-prev:hover span,
.jcarousel-next:hover span {
    display: block;
}

.jcarousel-prev.inactive,
.jcarousel-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    right: 15px;
}

/** Galerie Navigation **/

.galerie .navigation {
    width: 90%;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
}

.galerie .navigation .carousel-navigation {
    height: 50px;
}

.galerie .navigation .carousel-navigation ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 200000em;
}

.galerie .navigation .carousel-navigation li {
    float: left;
    margin: 2px;
    cursor: pointer;
}

.galerie .navigation .carousel-navigation li img {
    display: block;
    border: 1px solid #fff;
}

.galerie .navigation .carousel-navigation li.active img {
    border-color: #e67d25;
}