{% extends 'pebMomWebSiteBundle::layout.html.twig' %}

{% set routing = 'actualite' %}

{% block content %}

        <div class="content">
                {% for actualite in actualites %}
                {% include "pebMomWebSiteBundle:Actualite:preview.html.twig" %}
            {% else %}
                    TODO
            {% endfor %}
        </div>

{% endblock %}