{% extends 'pebMomWebSiteBundle::layout.html.twig' %}

{% set routing = 'actualite' %}

{% block content %}

	<div class="content">
        {% include "pebMomWebSiteBundle:Actualite:detail.html.twig" %}
	</div>

{% endblock %}